---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<ol>
		<li>Hi there, we could use your help!</li>
		<li>Either by helping out with issue son github, or</li>
		<li>With a small donation <a href="https://opencollective.com/universal-alt"> on open collective</a></li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a
		href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
